<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="logDirectory" value="Log" />
		<targets>
			<target name="InfoAsyncWrapper" xsi:type="AsyncWrapper">
				<target name="InfoFileWrapper" xsi:type="File" fileName="${logDirectory}\${level}\${shortdate}.txt" layout="${date:format=HH\:mm\:ss} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}">
				</target>
			</target>
		</targets>
		<rules>
			<logger name="OctopusLogger" minlevel="Info" writeTo="InfoAsyncWrapper" />
		</rules>
	</nlog>
  <runtime>
    <!-- the following setting prevents the host from closing when an unhandled exception is thrown -->
    <legacyUnhandledExceptionPolicy enabled="1" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Geckofx-Core" publicKeyToken="3209ac31600d1857" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-45.0.32.9111" newVersion="45.0.32.9111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geckofx-Winforms" publicKeyToken="3209ac31600d1857" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-45.0.32.9111" newVersion="45.0.32.9111" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.2" newVersion="1.0.105.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>