<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="Log" />
    <targets>
      <target name="InfoAsyncWrapper" xsi:type="AsyncWrapper">
        <target name="InfoFileWrapper" xsi:type="File" fileName="${logDirectory}\${level}\${shortdate}.txt" layout="${date:format=HH\:mm\:ss} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}">
        </target>
      </target>
    </targets>
    <rules>
      <logger name="OctopusLogger" minlevel="Info" writeTo="InfoAsyncWrapper" />
    </rules>
  </nlog>
	<system.net>
		<settings>
			<servicePointManager expect100Continue="false" />
		</settings>
	</system.net>
<startup><supportedRuntime version="v2.0.50727" /></startup>
</configuration>
