<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    
  <supportedRuntime version="v2.0.50727" /></startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="Log" />
    <targets>
      <target name="InfoAsyncWrapper" xsi:type="AsyncWrapper">
        <target name="InfoFileWrapper" xsi:type="File" fileName="${logDirectory}\${level}\${shortdate}.txt" layout="${date:format=HH\:mm\:ss} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}">
        </target>
      </target>
    </targets>
    <rules>
      <logger name="OctopusLogger" minlevel="Debug" writeTo="InfoAsyncWrapper" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
