{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="http://www.xiaozhu.com/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="http://www.xiaozhu.com/favicon.ico" type="image/vnd.microsoft.icon">
    <title>美食搜索主页</title>
    <meta content="no-transform " http-equiv="Cache-Control">
    <meta content="format=html5; url=http://m.xiaozhu.com/" http-equiv="mobile-agent">
    <link href="{% static 'css/xzcss.css' %}" rel="stylesheet">
    <style type="text/css">
        #allmap {
            width: 100%;
            height: 958px;
        }

        p {
            margin-left: 5px;
            font-size: 14px;
        }
    </style>
    <!-- [if ite IE 8]>
    <script src="../js/respond.js"></script>
    <![endif]-->
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=vSH20Q2aiyiEH5Gz8GgbSH1tfvwDD6CH"></script>
{#    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>#}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script async="" src="file://www.googletagmanager.com/gtm.js?id=GTM-W85X4L"></script>
    <style id="style-1-cropbar-clipper">
        /* Copyright 2014 Evernote Corporation. All rights reserved. */
        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -100px !important;
            width: 200px !important;
            border: 2px rgba(255, 255, 255, .38) solid !important;
            border-radius: 4px !important;
        }

        .en-markup-crop-options div div:first-of-type {
            margin-left: 0px !important;
        }
    </style>
</head>

<body>
<!--header-->

<!--[if lte IE 7]>
<div style="background:#f16b80;  width:100%; height:50px; line-height:50px; text-align:center; font-size:14px; color:#fff; font-family:"微软雅黑";>
    温馨提示：您目前的浏览器版本过低，网站部分功能无法正常使用，建议尽快升级：
        <a href="http://www.microsoft.com/china/windows/IE/upgrade/index.aspx" name="升级ie浏览器" id="upgrade_ie" target="_blank" style=" display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/images/ie.jpg" width="154" height="40"/></a>
             或安装
        <a href="http://www.firefox.com.cn" target="_blank" name="升级火狐浏览器" id="upgrade_firefox" style="display:inline-block;width:154px; height:40px;  vertical-align:middle;  margin:0 18px 0 12px;_margin-top:4px;"><img src="/images/firefox.jpg" width="154" height="40"/></a>
</div>
<![endif]-->
<div class="head_wrapper">
    <a href="http://127.0.0.1:8000" class="logo_m">
        <img src="{% static 'img/header.png' %}" width="220px" height="58px"/></a>
    <ul class="nav_R nav_commen">
        <li><a href="http://127.0.0.1:8000/cluster" class="btn_free show-register-box"
               id="Pub_Btn" target="_blank">聚点化展示</a></li>
    </ul>
</div>
<!--/header-->
<div class="city_wrap">
    <!--city top-->
    <div class="city_top_box clearfix" id="list_filter">
        <div class="city_r">
            <form action="/by_type_area" method="get">
                <div class="type_bg clearfix">
                    <h6 class="type_tit2">区域</h6>
                    <div class="info_box" id="housetyperoomcnt" style="height: 40px;">
                        <label>
                            <input class="checkbox" type="radio" name="area" value="1" onclick="submit_by_attr();">东昌府区
                        </label>
                        <label>
                            <input class="checkbox" type="radio" name="area" value="2" onclick="submit_by_attr();">茌平县
                        </label>
                        <label>
                            <input class="checkbox" type="radio" name="area" value="3" onclick="submit_by_attr()">临清市
                        </label>
                        <label>
                            <input class="checkbox " type="radio" name="area" value="4" onclick="submit_by_attr()">阳谷县
                        </label>
                        <label>
                            <input class="checkbox" type="radio" name="area" value="5" onclick="submit_by_attr()">莘县
                        </label>
                        <label>
                            <input class="checkbox " type="radio" name="area" value="6" onclick="submit_by_attr()">东阿县
                        </label>
                        <label>
                            <input class="checkbox " type="radio" name="area" value="7" onclick="submit_by_attr()">冠县
                        </label>
                        <label>
                            <input class="checkbox " type="radio" name="area" value="8" onclick="submit_by_attr()">高唐县
                        </label>
                        <label>
                            <input class="checkbox " type="radio" name="area" value="9" onclick="submit_by_attr()">开发区
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" class="btn_pink4search" value="确定">
                    </div>

                </div>

                <div class="type_bg clearfix">
                    <h6 class="type_tit2">分类</h6>
                    <div class="info_box" id="facilities">
                        <label class="">
                            <input type="checkbox" name="type1" onclick="submit_by_attr()" value="1">
                            自助餐</label>
                        <label class="">
                            <input type="checkbox" name="type2" onclick="submit_by_attr()"
                                   value="2">
                            甜点饮品</label>
                        <label class="">
                            <input type="checkbox" name="type3" onclick="submit_by_attr()" value="3">
                            小吃快餐</label>
                        <label class="">
                            <input type="checkbox" name="type4" onclick="submit_by_attr()" value="4">
                            火锅</label>
                        <label class="">
                            <input type="checkbox" name="type5" onclick="submit_by_attr()" value="5">
                            面条</label>
                        <label class="">
                            <input type="checkbox" name="type6" onclick="submit_by_attr()" value="6">
                            海鲜</label>
                        <label class="">
                            <input type="checkbox" name="type7" onclick="submit_by_attr()"
                                   value="7">
                            烧烤</label>
                        <label class="">
                            <input type="checkbox" name="type8" onclick="submit_by_attr()"
                                   value="8">
                            鲁菜</label>
                        <label class="">
                            <input type="checkbox" name="type9" onclick="submit_by_attr()"
                                   value="9">
                            地方菜</label>
                        <label class="">
                            <input type="checkbox" name="type10" onclick="submit_by_attr()"
                                   value="10">
                            日韩料理</label>
                        <label class="">
                            <input type="checkbox" name="type11" onclick="submit_by_attr()"
                                   value="11">
                            西餐</label>
                        <label class="">
                            <input type="checkbox" name="type12" onclick="submit_by_attr()"
                                   value="12">
                            其他</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/city top-->
    <div class="top_line" style="display: block;"></div>
    {#    <div class="tj_box clearfix" style="top: 0px; display: none;">#}
    {#        <div class="select_up" id="select_more" style="display: none;">展开筛选条件</div>#}
    {#    </div>#}
    <div class="clearfix">
        <!--map-->
        <div class="city_map">
            <div class="list_map" style="height: 724px;">
                <div class="map-canvas">
                    <div id="allmap"></div>
                    <p>点击标注点，可查看由纯文本构成的简单型信息窗口</p>
                </div>
            </div>
        </div>
        <!--/map-->
        <!--search list-->
        <div class="search_box">
            <div class="result_box clearfix">
                <div class="fr" id="checkfra"><span class="col_pink pr20" id="defalut_sort"><a
                        href="http://127.0.0.1:8000" onlick="return false;">推荐排序</a></span> <span class="pr20"
                                                                                                id="haoping_sort"><a
                        title="好评排序" href="http://127.0.0.1:8000/des_grade">好评排序</a></span>
                    <span id="nodefalut_sort">
                        <a title="点击按价格由低到高排序" href="http://127.0.0.1:8000/des_price">价格<span
                                class="arrow_top"></span></a>
                        <a title="点击按价格由高到低排序" href="http://127.0.0.1:8000/aes_price"><span
                                class="arrow_down"></span></a>
                    </span></div>
            </div>
            <!--pic list-->
            <div id="page_list">
                <ul class="pic_list clearfix">
                    {% for item in context %}
                        <li lodgeunitid="lodgeunit_25852507603" latlng="{{ item.latitude }},{{ item.longitude }}"><a
                                target="_blank"
                                href="{{ item.ipadress }}"
                                class="resule_img_a">
                            <img
                                    class="lodgeunitpic" title="{{ item.name }}" data-growing-title="25852507603"
                                    src="{{ item.image }}" alt="{{ item.name }}" style="height: 199px;">
                        </a>
                            {#                            <div class="favorite  lodge_25852507603 wsc_ico" al="25852507603" title="收藏"></div>#}
                            <div class="result_btm_con lodgeunitname"
                                 detailurl="{{ item.ipadress }}"
                                 style="cursor:pointer">
                                <span class="result_price">人均¥<i>{{ item.price }}</i></span>
                                <div class="result_intro"><a><span class="result_title hiddenTxt">{{ item.name }}</span></a>
                                    <em class="hiddenTxt">{{ item.adress }}<span
                                            class="commenthref"> - {{ item.comments }}条点评 </span> </em>
                                    <p>{{ item.grade }} <span class="changzu_ico" title="评分"></span></p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    <div class="mapresult_no" id="noLodgeUnitsAtNYN" style="display:none"><em></em>
                        <p><span>没有符合条件的房间</span> 建议您减少或更改一些查询条件重新搜索 </p>
                    </div>
                </ul>
                {#                分页功能#}
                <div class="pagination_v2 pb0_vou"><span class="active_link">1</span>
                    <a target="_self" href="?page=2">2</a>
                    {% if context.has_next %}
                        <a class="font_st" target="_self" href="?page={{ context.next_page_number }}"> > </a>
                    {% endif %}
                </div>
                <div class="list_adpic" style="background-color:#02AC8D;"><a
                        href="http://www.xiaozhu.com/appdownload/fk?ca_source=xzliebiaoye&amp;utm_source=lbyrk&amp;utm_medium=lbyrkgg&amp;pk_campaign=APP-xzlbyrk-marketing"
                        target="_blank" style="cursor:auto"><img lazy_src="/images/search_adpic1.png"></a></div>
            </div>
            <div class="result_foot clearfix">
                <dl class="link_dl">
                </dl>
                <div class="foot_btm">地址：山东省聊城市 &nbsp;&nbsp;电话：0635-1111111</div>
                <div style="width:300px;margin:0 auto;"><a target="_blank"
                                                           href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020380"
                                                           style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                    <img src="{% static 'img/record_icon.png' %}" style="float:left;">
                    <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#bdc3c7;">版权所有者
                        july12</p>
                </a></div>
            </div>
        </div>
        <!--search list-->
    </div>

</div>
<div class="mask" style="display:none;"></div>
<div id="addFavoritePop" style="display:none;"></div>
<!-- Google Tag Manager -->

<noscript>
    &lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-W85X4L" height="0" width="0"
    style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;
</noscript>

<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W85X4L');
</script>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(115.9854900000, 36.4570200000), 15);//13是地图缩放级别，数字越大， 搜索的范围越大.
    map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
    var messages ={{ messages|safe}};//safe 过滤器
    var data_info = messages;
    var opts = {
        width: 250,     // 信息窗口宽度
        height: 100,     // 信息窗口高度
        title: "商铺信息：", // 信息窗口标题
        enableMessage: true//设置允许信息窗发送短息
    };
    {#    var zoomCtrl = new BMap.ZoomControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, offset: new BMap.Size(20, 20)});#}
    {#    map.addControl(zoomCtrl);#}
    {#    var markers = [];#}
    {#    var markerClusterer = null;#}
    for (var i = 0; i < data_info.length; i++) {
        var marker = new BMap.Marker(new BMap.Point(data_info[i][0], data_info[i][1]));  // 创建标注
        var content = data_info[i][2] + "  地址：" + data_info[i][3] + "  网址：" + data_info[i][4];
{#            document.write("<a href=\""+data_info[i][4]+"\">");#}

        map.addOverlay(marker);               // 将标注添加到地图中
        addClickHandler(content, marker);
        {#		markers.push(marker);#}
    }
    function addClickHandler(content, marker) {
        marker.addEventListener("click", function (e) {
                openInfo(content, e)
            }
        );
    }
    function openInfo(content, e) {
        var p = e.target;
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
        var infoWindow = new BMap.InfoWindow(content, opts);  // 创建信息窗口对象
        map.openInfoWindow(infoWindow, point); //开启信息窗口
    }
    //最简单的用法，生成一个marker数组，然后调用markerClusterer类即可。
    markerClusterer = new BMapLib.MarkerClusterer(map, {markers: markers});
</script>
